@font-face {
  font-family: "Bluu Next";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/bluu-next/BluuNext-Bold.otf") format("otf");
}

body {
  font-family: "Bluu Next", sans-serif;
  min-height: 100vh;
}
